{
    "tabWidth": 4,
    "semi": true,
    "singleQuote": false,
    "proseWrap": "preserve",
    "htmlWhitespaceSensitivity": "ignore",
    "trailingComma": "es5",
    "printWidth": 130,
    "plugins": ["prettier-plugin-tailwindcss"]
}
